* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    place-items: center;
    display: grid;
}

.container {
    background: #f19066;
    max-width: 385px;
    max-height: 60vh;
    border-radius: 7px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.display {
    height: 100px;
    display: flex;
    padding: 25px 40px;
}

.display input[type=text] {
    color: #ffffff;
    background: #f19066;
    font-size: 45px;
    height: 100px;
    width: 100%;
    border: none;
    text-align: right;
}

.pads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 4px;
    padding: 12px;
}

input[type=button] {
    min-width: 87px;
    min-height: 67px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    font-size: 30px;
    
}

.ac, .zero, .equalsTo {
    width: 178px!important;
}

.ac {
    background: #546de5;
    color: #ffffff;
}

.equalsTo {
    background: #303952;
    color: #ffffff;
}

.operator {
    background: #f7d794;
    color: #ffffff;
}